@model DigitalScrumBoard.Models.ViewModels.TaskPartialViewModel

<div id="@Model.ID" class="task draggableTask @(Model.Type)Task" style="left:@(Model.Left)%;top:@(Model.Top)px;" data-storyid="@Model.StoryId" title="test">
    <p class="taskText">
        @Model.Text
    </p>
    <p class="timeRemaining">
    @if (Model.Type != DigitalScrumBoard.Business.TaskType.UserStory
        && Model.Type != DigitalScrumBoard.Business.TaskType.SatisfactionConditions){
        
            @Model.TimeRemaining
    }
    </p>
</div>