@model DigitalScrumBoard.Models.ViewModels.TaskPartialViewModel

<div id="@Model.ID" class="task draggableTask @(Model.Type)Task" style="left:@(Model.Left)%;top:@(Model.Top)px;" data-storyid="@Model.StoryId" title="@Model.Type">
    <p class="taskText">
        @Model.Text
    </p>
    @if (Model.Type != DigitalScrumBoard.Business.TaskType.UserStory
        && Model.Type != DigitalScrumBoard.Business.TaskType.SatisfactionConditions
        && Model.Owner != null){
            <div class="mugShot" contenteditable="false" title="@Model.Owner.Email">        
                   <img src="@Model.Owner.ImageURL" />
            </div>
        }
                
    @if (Model.Type != DigitalScrumBoard.Business.TaskType.UserStory
        && Model.Type != DigitalScrumBoard.Business.TaskType.SatisfactionConditions){
        <div class="timeRemaining" title="@Model.TimeRemaining hours remaining">
            @Model.TimeRemaining
        </div>
    }
</div>