@model DigitalScrumBoard.Models.ViewModels.ScrumBoardViewModel
@using DigitalScrumBoard.Data

@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
}

   <div id="dialog" title="Manage Task" style="display: none;">
        <p>Dialog failed to generate. An error probably occurred</p>
   </div>

   <div id="container">
       <div id="NotDoneCol" class="droppableCol">
           <p class="colHeader">Not Done</p>
           @foreach (Story s in Model.Stories)
           {
               <div class="taskStoryContainer" data-storyid="@s.ID">
                   @foreach (Task t in s.Tasks.Where(t => t.CurrentCol == "NotDoneCol"))
                   {
                       @Html.Action("Index", "Task", new { task = t })
                   }
               </div>   
           }
       </div>
       <div id="InProgressCol" class="droppableCol">
           <p class="colHeader">In Progress</p>
           @foreach (Story s in Model.Stories)
           {
               <div class="taskStoryContainer" data-storyid="@s.ID">
                   @foreach (Task t in s.Tasks.Where(t => t.CurrentCol == "InProgressCol"))
                   {
                       @Html.Action("Index", "Task", new { task = t })
                   }
               </div>   
           }
       </div>
       <div id="InTestCol" class="droppableCol">
           <p class="colHeader">In Test/Awaiting Sign-Off</p>
           @foreach (Story s in Model.Stories)
           {
               <div class="taskStoryContainer" data-storyid="@s.ID">
                   @foreach (Task t in s.Tasks.Where(t => t.CurrentCol == "InTestCol"))
                   {
                       @Html.Action("Index", "Task", new { task = t })
                   }
               </div>   
           }
       </div>
       <div id="DoneCol" class="droppableCol">
           <p class="colHeader">Done :-)</p>
           @foreach (Story s in Model.Stories)
           {
               <div class="taskStoryContainer" data-storyid="@s.ID">
                   @foreach (Task t in s.Tasks.Where(t => t.CurrentCol == "DoneCol"))
                   {
                       @Html.Action("Index", "Task", new { task = t })
                   }
               </div>   
           }
       </div>
   </div>